:root{
	--true-blue: #0466c8ff;
--usafa-blue: #0353a4ff;
--dark-cornflower-blue: #023e7dff;
--oxford-blue: #002855ff;
--oxford-blue-2: #001845ff;
--oxford-blue-3: #001233ff;
--independence: #33415cff;
--black-coral: #5c677dff;
--roman-silver: #7d8597ff;
--manatee: #979dacff;}